.frame-parent {
  	width: 2053px;
  	height: 1497px;
  	position: relative;
  	background-color: #000;
  	overflow: hidden;
}
.frame-1 {
  	position: absolute;
  	top: calc(50% - 303.11px);
  	left: calc(50% - 502.5px);
  	border-radius: 24px;
  	background-color: #fff;
  	width: 1007px;
  	height: 607px;
  	overflow: hidden;
}
.frame-2 {
  	position: absolute;
  	top: calc(50% - 28.11px);
  	left: calc(50% - 977.5px);
  	border-radius: 24px;
  	background-color: #fff;
  	width: 453px;
  	height: 332px;
  	overflow: hidden;
}
.frame-3 {
  	position: absolute;
  	top: calc(50% - 725.11px);
  	left: calc(50% - 977.5px);
  	border-radius: 24px;
  	background-color: #fff;
  	width: 453px;
  	height: 673px;
  	overflow: hidden;
}
.frame-4 {
  	position: absolute;
  	top: calc(50% - 725.11px);
  	left: calc(50% - 502.5px);
  	border-radius: 24px;
  	background-color: #fff;
  	width: 480px;
  	height: 403px;
  	overflow: hidden;
}
.frame-5 {
  	position: absolute;
  	top: calc(50% - 725.11px);
  	left: calc(50% - 0.5px);
  	border-radius: 24px;
  	background-color: #fff;
  	width: 505px;
  	height: 403px;
  	overflow: hidden;
}
.frame-6 {
  	position: absolute;
  	top: calc(50% - 725.11px);
  	left: calc(50% + 524.5px);
  	border-radius: 24px;
  	background-color: #fff;
  	width: 457px;
  	height: 751px;
  	overflow: hidden;
}
.frame-7 {
  	position: absolute;
  	top: calc(50% + 45.89px);
  	left: calc(50% + 524.5px);
  	border-radius: 24px;
  	background-color: #fff;
  	width: 457px;
  	height: 688px;
  	overflow: hidden;
}
.frame-8 {
  	position: absolute;
  	top: calc(50% + 325.89px);
  	left: calc(50% - 0.5px);
  	border-radius: 24px;
  	background-color: #fff;
  	width: 505px;
  	height: 408px;
  	overflow: hidden;
}
.frame-9 {
  	position: absolute;
  	top: calc(50% + 325.89px);
  	left: calc(50% - 977.5px);
  	border-radius: 24px;
  	background-color: #fff;
  	width: 955px;
  	height: 408px;
  	overflow: hidden;
}

